@use 'colors' as *;

.create-button {
  background: linear-gradient(90deg, #6a00f4, #8e2de2);
  color: $pure-white;
  padding: 14px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #8e2de2;
  }

  &:disabled {
    background-color: $charcoal;
    cursor: not-allowed;
    opacity: 0.6;
  }
}