<app-gamer-loading class="global-loading-wrapper" *ngIf="isLoading" />

<div *ngIf="!isLoading && message" class="no-games-container">
  {{ message }}
</div>

<div class="game-management-wrapper" *ngIf="!isLoading && games.length">
  <div class="d-flex center column gap-20 mb-20">
    <app-game-search-filter (filtersChanged)="onFiltersChanged($event)" />
  </div>

  <div class="game-grid-wrapper">
    <div class="game-grid">
      <div class="game-card" *ngFor="let game of games" [ngClass]="{ 'show-overlay': isOverlayVisible(game.id) }">
        <div class="cover-container" (click)="onCardClick($event, game.id)">
          <img *ngIf="game.coverImage" [src]="game.coverImage.replace('t_thumb', 't_cover_big')" alt="Capa do jogo"
            class="cover" />
          <div class="rating fs-14 bold" *ngIf="game.rating" [ngClass]="{
              green: game.rating >= 80,
              yellow: game.rating >= 70 && game.rating < 80,
              orange: game.rating >= 60 && game.rating < 70,
              red: game.rating < 60
            }">
            {{ game.rating | number : '1.0-0' }}
          </div>
        </div>

        <div class="overlay" (click)="onOverlayClick($event, game.id)" *ngIf="!isMobile || isOverlayVisible(game.id)">
          <div class="date mb-10 fs-10">{{ getReleaseYear(game.releaseDate) }}</div>
          <div class="title mb-10 fs-14 bold">{{ game.title }}</div>
          <div class="platform fs-12">{{ game.platform }}</div>
        </div>
      </div>
    </div>
  </div>

  <app-pagination [page]="page" [hasNext]="hasMoreGames" (previous)="previousPage()" (next)="nextPage()" />
</div>

<div class="game-modal-backdrop" *ngIf="showModal" (click)="showModal = false">
  <div class="game-modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close-btn" (click)="showModal = false">×</button>
    <div class="game-modal-body">
      <img *ngIf="selectedGame?.coverImage" [src]="selectedGame?.coverImage?.replace('t_thumb', 't_cover_big')"
        alt="Capa do jogo" class="modal-cover" />
      <div class="modal-info">
        <h2 class="fs-18 mb-10">{{ selectedGame?.title }}</h2>
        <p class="fs-14">{{ selectedGame?.platform }}</p>
        <p class="fs-12 mt-10">Lançamento: {{ selectedGame?.releaseDate }}</p>
        <p *ngIf="selectedGame?.rating" class="fs-12 mt-10">
          Nota: {{ selectedGame?.rating | number : '1.0-0' }}
        </p>
      </div>
    </div>
  </div>
</div>