@use 'colors' as *;
@use 'breakpoints' as *;

@include respond(mobile) {
    :host {
        position: fixed;
        inset: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        background-color: rgba(0, 0, 0, 0.6);
        box-sizing: border-box;
    }

    .modal-content {
        max-height: 80vh;
        overflow-y: auto;
    }

    .modal-option-list {
        padding: 0 12px;

        .option-item {
            background-color: $white-overlay-05;
            padding: 10px 15px;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s;
            color: $pure-white;

            &.disabled {
                opacity: 0.5;
                cursor: not-allowed;
                pointer-events: none;
            }
        }

        @each $tier, $color in $tier-colors {
            .tier-#{$tier} {
                background-color: $color;
            }
        }
    }
}