@use 'colors' as *;
@use 'breakpoints' as *;

:host {
    display: flex;
    justify-content: flex-end;
}

.platform-btn {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 8px;
    border-radius: 50%;
    font-size: 18px;
    color: rgba($pure-white, 0.7);
    cursor: pointer;
    transition: all 0.2s ease;


    &:hover {
        background-color: rgba($rare-deep-blue, 0.1);
        color: $rare-deep-blue;
    }

    &.selected {
        color: $pure-white;
        box-shadow: 0 0 8px rgba($pure-white, 0.4);

        &.xbox {
            background-color: $xbox-green;
            border-color: $xbox-green;
        }

        &.playstation {
            background-color: $playstation-blue;
            border-color: $playstation-blue;
        }

        &.steam {
            background-color: $steam-gray;
            border-color: $steam-gray;
        }

        &.nintendo {
            background-color: $nintendo-red;
            border-color: $nintendo-red;
        }

        &.todos {
            background-color: $rare-deep-blue;
            border-color: $rare-deep-blue;
        }
    }
}


@include respond(mobile) {
    .platform-btn {
        margin: 5px;
        padding: 4px;
    }
}