@import '../../../../shareds/colors.scss';

.back-btn {
  padding: 10px 20px;
  border-radius: 12px;
  background: linear-gradient(145deg, #10101a13, #1a1a2e69);
  color: $pure-white;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif; // opcional, para fonte futurista
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  i {
    font-size: 1.2rem;
  }

  &:hover {
    transform: scale(1.03);
    background: linear-gradient(145deg, #ffffff, #292985);
  }

  &:active {
    transform: scale(0.98);
    box-shadow: 0 0 6px #00ffe7;
  }
}
