<div class="modal-backdrop" (click)="dismiss()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="dismiss()">
            <fa-icon [icon]="'times'"></fa-icon>
        </button>

        <div class="modal-game-preview mb-20">
            <img [src]="getFullCoverUrl(game.coverImage)" [alt]="game.title" />
            <h2 class="text-center fs-16">{{ game.title }}</h2>
        </div>

        <div class="modal-option-list status-grid gap-10">
            <div class="option-item d-flex align-center fs-14 gap-10 nowrap" *ngFor="let status of statuses"
                [class.active]="status.value.toString() === currentStatus?.toString()"
                [class.checked]="status.value.toString() === currentStatus?.toString()"
                [class.disabled]="status.value.toString() === currentStatus?.toString()"
                (click)="status.value !== currentStatus && selectStatus(status.value)">
                <div class="custom-checkbox"></div>
                <span>{{ status.label }}</span>
            </div>
        </div>
    </div>
</div>