<div class="game-management-wrapper">
  <div class="carousel-container mb-10">
    <app-game-carousel [connectedDropLists]="dropListIds" (gameClicked)="onGameClicked($event)">
    </app-game-carousel>
  </div>

  <div class="container-overflow">
    <div class="status-column" *ngFor="let status of statusList">
      <div class="status-header fs-18 text-center mb-10 bold">
        {{ getStatusLabel(status) }}
      </div>

      <div class="status-dropzone gap-10" *ngIf="!isMobile" cdkDropList [id]="'status-drop-' + status"
        [cdkDropListData]="statusGames[status]" [cdkDropListConnectedTo]="dropListIds" cdkDropListSortingDisabled="true"
        (cdkDropListDropped)="onDrop($event, status)" (cdkDropListEntered)="onDropListEnter(status)"
        (cdkDropListExited)="onDropListExit(status)">


        <div *ngFor="let game of statusGames[status]" class="game-icon" cdkDrag [cdkDragData]="game">
          <img [src]="getFullCoverUrl(game.coverImage)" [alt]="game.title" />
          <button class="times-icon-button" (click)="removeGame(game)">
            <app-fa-icon icon="times" />
          </button>
        </div>

        <div *ngIf="statusGames[status].length === 0 && !hoveredStatus[status]" class="empty-dropzone text-center">
          <span>Arraste jogos para aqui</span>
        </div>
      </div>

      <div class="game-drawer" *ngIf="isMobile" cdkDropList [id]="'status-drop-' + status"
        [cdkDropListData]="statusGames[status]" [cdkDropListConnectedTo]="dropListIds" cdkDropListSortingDisabled="true"
        (cdkDropListDropped)="onDrop($event, status)">

        <div *ngFor="let game of statusGames[status]" class="game-icon" cdkDrag [cdkDragData]="game"
          [cdkDragDisabled]="true" (click)="onGameClicked(game)">

          <img [src]="getFullCoverUrl(game.coverImage)" [alt]="game.title" />

          <button class="times-icon-button" (click)="removeGame(game); $event.stopPropagation()">
            <app-fa-icon icon="times" />
          </button>
        </div>

        <div *ngIf="statusGames[status].length === 0" class="empty-dropzone text-center">
          <span>Arraste jogos para aqui</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-assign-status *ngIf="showAssignStatusModal && selectedGame" [game]="selectedGame"
  [currentStatus]="selectedGameStatus" (statusSelected)="onStatusSelected($event)"
  (closed)="showAssignStatusModal = false" />