@use 'colors' as *;
@use 'breakpoints' as *;

.game-management-wrapper {
  margin-top: 0;

  .container-overflow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 16px;
    width: 100%;
    padding-bottom: 12px;
    height: 60vh;

    .status-column {
      background-color: $white-overlay-05;
      border-radius: 6px;
      padding: 10px;

      .status-dropzone {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        padding: 8px;
        overflow-y: auto;
        background-color: $white-overlay-08;
        border-radius: 6px;
        border: 2px dashed $white-overlay-02;
        min-height: 140px;
        max-height: 54vh;
        overflow-y: auto;

        .game-icon {
          width: 100%;
          aspect-ratio: 11 / 16;
          position: relative;

          &:hover {
            transform: scale(1.05);
            z-index: 2;
          }
        }
      }

      .game-drawer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        justify-content: start;
        gap: 10px;
        padding: 8px;
        background-color: $white-overlay-08;
        border-radius: 6px;
        border: 2px dashed $white-overlay-02;
      }
    }
  }
}

@include respond(mobile) {
  .game-management-wrapper {
    margin-left: 0;

    .container-overflow {
      grid-template-columns: 1fr;
      width: 100%;

      .status-dropzone {
        display: none;
      }

      .game-icon {
        max-width: 32%;
        min-width: 90px;
        height: auto;
        aspect-ratio: 2 / 3;
      }
    }
  }
}