@use 'colors' as *;
@use 'breakpoints' as *;

.remove-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 6px;
  right: 6px;
  background: $overlay-bg;
  border: none;
  color: $pure-white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: background 0.2s;

  &:hover {
    background: $pure-red;
  }

  fa-icon {
    font-size: 1rem;
  }
}

@include respond(mobile) {

  .remove-button,
  .edit-button {
    opacity: 1 !important;
    pointer-events: auto !important;
  }
}