<div class="modal-wrapper" (click)="close.emit()">
  <div class="overlay"></div>

  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close-btn" (click)="close.emit()" aria-label="Fechar">
      <app-fa-icon icon="times" />
    </button>

    <h1 class="title d-flex align-center mb-20 gap-10">
      <app-fa-icon icon="user" />Criar conta
    </h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="errorMessage" class="error-message mb-20">
        {{ errorMessage }}
      </div>

      <div class="form-group  mb-20">
        <app-input formControlName="username" [label]="'Usuário'" [placeholder]="'Digite seu nome de usuário'" />
      </div>

      <div class="form-group mb-20">
        <app-input formControlName="password" [label]="'Senha'" [placeholder]="'Crie uma senha segura'"
          [type]="'password'" />
      </div>

      <button type="submit" [disabled]="form.invalid" class="auth-button">Registrar</button>
    </form>

    <p class="auth-link">
      Já tem conta?
      <a (click)="navigateToLogin($event)">Fazer login</a>
    </p>
  </div>
</div>