@use 'colors' as *;

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: $overlay-bg;
  backdrop-filter: blur(2px);
  z-index: 2000;
}

.modal-content {
  background: $void-black;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 12px $overlay-bg;
  color: $pure-white;
  width: 90%;
  max-width: 360px;
  text-align: center;

  .modal-actions {
    button {
      flex: 1;
      padding: 0.6rem 1rem;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }

    .cancel {
      background-color: $steam-gray;
      color: $pure-white;

      &:hover {
        background-color: $charcoal;
      }
    }

    .confirm {
      background-color: $pure-red;
      color: $pure-white;

      &:hover {
        background-color: $orange-overlay;
      }
    }
  }
}