@use '@angular/material' as mat;
@use 'global' as *;

@include mat.core();

$Agendamento-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($Agendamento-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#toast-container {
  position: fixed !important;
  z-index: 99999 !important;
}

.toast {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}