<div class="container-side-menu">
  <div class="side-menu d-flex" *ngIf="!isSmallScreen || menuExpanded" [class.menu-open]="menuExpanded && isSmallScreen"
    [class.collapsed]="!menuExpanded && !isSmallScreen">
    <button class="menu-toggle" (click)="toggleMenu()" *ngIf="!isSmallScreen">
      <mat-icon>{{ menuExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>

    <button class="menu-close-icon" (click)="toggleMenu()" *ngIf="isSmallScreen">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="menu-header fs-14 d-flex jc-center align-center">
      <h2 *ngIf="menuExpanded">Game Board</h2>
      <h2 *ngIf="!menuExpanded && !isSmallScreen" class="collapsed-logo">GB</h2>
    </div>

    <ul class="menu-list">
      <li *ngFor="let item of menuItems" class="menu-item" [class.open]="selectedMenuTitle === item.label">
        <div class="main-item d-flex align-center" (click)="toggleSubmenu(item)"
          [title]="!menuExpanded ? item.label : ''">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span *ngIf="menuExpanded">{{ item.label }}</span>
          <mat-icon class="arrow" *ngIf="item.submenu">
            {{ selectedMenuTitle === item.label ? 'expand_less' : 'expand_more' }}
          </mat-icon>
        </div>

        <ul class="submenu" *ngIf="
            item.submenu && selectedMenuTitle === item.label && (menuExpanded || isSmallScreen)
          ">
          <li *ngFor="let subItem of item.submenu" (click)="navigateTo(subItem)">
            {{ subItem.label }}
          </li>
        </ul>
      </li>
    </ul>

    <div class="menu-footer" *ngIf="menuExpanded">
      <ng-container *ngIf="authenticatedUser$ | async as user; else showAuthButtons">
        <div class="user-profile d-flex center space-between gap-10" (click)="isDropdownOpen = !isDropdownOpen">
          <mat-icon>account_circle</mat-icon>
          <span>{{ user.username }}</span>
          <mat-icon class="arrow-icon" [class.open]="isDropdownOpen">expand_more</mat-icon>
        </div>

        <ul class="profile-dropdown" *ngIf="isDropdownOpen && menuExpanded">
          <li (click)="goToProfile()"><mat-icon>person</mat-icon> Ver perfil</li>
          <li (click)="goToSettings()"><mat-icon>settings</mat-icon> Configurações</li>
          <li (click)="modalAuth.openLogout()"><mat-icon>logout</mat-icon> Sair</li>
        </ul>
      </ng-container>

      <ng-template #showAuthButtons>
        <div class="auth-buttons d-flex gap-10">
          <button class="auth-btn" (click)="modalAuth.openLogin()">Entrar</button>
          <button class="auth-btn" (click)="modalAuth.openRegister()">Registrar</button>
        </div>
      </ng-template>
    </div>

    <div class="collapsed-profile-footer d-flex jc-center align-center" *ngIf="!menuExpanded && !isSmallScreen"
      (click)="menuExpanded = true" title="Abrir perfil">
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>

  <div class="menu-overlay" *ngIf="menuExpanded && isSmallScreen" (click)="toggleMenu()"></div>

  <app-header *ngIf="!(modalView$ | async)" [isSmallScreen]="isSmallScreen" [menuExpanded]="menuExpanded"
    (menuToggle)="toggleMenu()"></app-header>

  <div class="content" [class.menu-pushed]="menuExpanded && isSmallScreen"
    [class.menu-collapsed]="!menuExpanded && !isSmallScreen">
    <router-outlet></router-outlet>
  </div>
</div>

<app-login-modal *ngIf="(modalView$ | async) === 'login'" (loginSuccess)="handleLoginSuccess()"
  (close)="modalAuth.closeModal()" (switchToRegister)="modalAuth.openRegister()" />

<app-register-modal *ngIf="(modalView$ | async) === 'register'" (registerSuccess)="handleRegisterSuccess()"
  (close)="modalAuth.closeModal()" (switchToLogin)="modalAuth.openLogin()" />

<app-logout-modal *ngIf="showLogoutModal$ | async" (confirm)="logout()" (cancel)="modalAuth.closeLogout()" />