@use 'colors' as *;
@use 'breakpoints' as *;

.carousel-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;

  .carousel-header {
    .right-header {
      .see-all-link {
        color: $steam-gray;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: $pure-white;
        }
      }
    }

    .btn-toggle-scroll {
      background: $overlay-bg;
      color: $pure-white;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: $overlay-h-bg;
        transform: translateY(-5%) scale(1.2);
      }
    }
  }

  .carousel-outer {
    position: relative;
  }

  .carousel-container {
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 16px 0;
    scrollbar-width: none;
    margin-right: 10px;
    margin-bottom: 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $overlay-bg;
    color: $pure-white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    &:hover {
      background: $overlay-h-bg;
      transform: translateY(-50%) scale(1.1);
    }

    &.arrow-left {
      left: 5px;
    }

    &.arrow-right {
      right: 12px;
    }
  }
}

@include respond(mobile) {
  .carousel-header {
    font-size: 12px;
    white-space: nowrap;
    margin-left: 5px;
    margin-bottom: 0px;

    .right-header {
      .see-all-link {
        font-size: 10px;
      }
    }

    .btn-toggle-scroll {
      margin-right: 10px;
    }
  }
}