<div class="carousel-wrapper" *ngIf="!isLoading">
  <div class="carousel-header d-flex space-between">
    <h2 class="carousel-title">{{ title }}</h2>

    <div class="right-header d-flex align-center gap-20">
      <a *ngIf="items.length > 0" class="see-all-link fs-14" href="#" (click)="onSeeAllClick($event)">
        Ver tudo
      </a>
      <button *ngIf="canScroll && items.length > 0" class="btn-toggle-scroll" (click)="toggleScroll()"
        title="Iniciar/Pausar">
        <fa-icon [icon]="isPaused ? 'play' : 'pause'" />
      </button>
    </div>
  </div>

  <div class="carousel-outer">
    <button *ngIf="isPaused" class="scroll-arrow arrow-left" (click)="scrollLeft()" title="Voltar">
      <fa-icon [icon]="'chevron-left'" />
    </button>

    <ng-template #defaultItem let-item>
      <div class="game-icon">
        <img [src]="getFullCoverUrl(item.coverImage)" [alt]="item.title" />
      </div>
    </ng-template>

    <div *ngIf="enableDrag; else simpleCarousel" #carouselContainer class="carousel-container d-flex gap-10" cdkDropList
      [id]="'carousel-drop-list'" [cdkDropListData]="items" [cdkDropListConnectedTo]="connectedDropLists"
      [cdkDropListSortingDisabled]="true">

      <div *ngFor="let item of items" class="game-icon" cdkDrag [cdkDragData]="item" [cdkDragDisabled]="isMobile"
        (cdkDragStarted)="onDragStarted(item)" (click)="onItemClick(item)">
        <ng-container *ngTemplateOutlet="itemTemplate || defaultItem; context: { $implicit: item }"></ng-container>
      </div>
    </div>

    <ng-template #simpleCarousel>
      <div #carouselContainer class="carousel-container d-flex gap-10">
        <div class="carousel-item" *ngFor="let item of items" (click)="onItemClick(item)">
          <ng-container *ngTemplateOutlet="itemTemplate || defaultItem; context: { $implicit: item }"></ng-container>
        </div>
      </div>
    </ng-template>

    <button *ngIf="isPaused" class="scroll-arrow arrow-right" (click)="scrollRight()" title="Avançar">
      <fa-icon [icon]="'chevron-right'" />
    </button>
  </div>
</div>