<div class="dialog-overlay d-flex jc-center align-center">
  <div class="dialog-box">
    <p class="dialog-message">{{ message }}</p>
    <div class="dialog-actions d-flex jc-center gap-10">
      <button class="btn cancel" (click)="cancelled.emit()">
        <app-fa-icon icon="times" class="mr-5" />
        {{ cancelText }}
      </button>
      <button class="btn confirm" (click)="confirmed.emit()">
        <app-fa-icon icon="check" class="mr-5" />
        {{ confirmText }}
      </button>
    </div>
  </div>
</div>