<div class="filter-menu d-flex column gap-12">
  <!-- Botão fechar visível só no mobile -->
  <button class="close-button" (click)="close.emit()">×</button>

  <!-- PLATAFORMAS -->
  <label class="filter-label">Plataformas</label>
  <div class="filter-options">
    <label *ngFor="let option of platformOptions">
      <input type="radio" name="platform" [disabled]="tempYear !== YearCategory.All"
        [checked]="tempPlatform === option.platform" (change)="selectPlatform(option.platform)" />
      {{ option.name }}
    </label>
  </div>

  <!-- ANO -->
  <label class="filter-label mt-20">Ano</label>
  <div class="filter-options">
    <label *ngFor="let option of yearCategoryOptions">
      <input type="radio" name="yearCategory" [disabled]="tempPlatform !== Platform.All"
        [checked]="tempYear === option.category" (change)="selectYearCategory(option.category)" />
      {{ option.name }}
    </label>
  </div>

  <!-- Ações (somente para web) -->
  <ng-container *ngIf="!viewport.isMobile()">
    <div class="web-filter-actions">
      <button class="btn-apply" (click)="emitFilters()">Aplicar Filtros</button>
      <button class="btn-reset" (click)="resetFilters()">Resetar</button>
    </div>
  </ng-container>
</div>
