@use 'colors' as *;

.back-icon {
  color: $pure-white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background: $overlay-light;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: $white-overlay-02;
  }
}