<div class="d-flex column">
  <app-gamer-loading *ngIf="isLoading" />

  <app-game-search-filter (filtersChanged)="onFiltersChanged($event)" />

  <app-carousel *ngIf="!isLoading" class="game-carousel" [title]="'Jogos Disponíveis'" [items]="filteredGames"
    [isLoading]="isLoading" [enableDrag]="true" [connectedDropLists]="connectedDropLists"
    (itemClicked)="onGameClicked($event)" (onSearchIconClicked)="onOpenSearchModal()" [showSeeAll]="false"
    [showSearchIcon]="true">
  </app-carousel>
</div>