<ion-content [fullscreen]="true">
    <div class="game-release-container">
        <app-gamer-loading class="global-loading-wrapper" *ngIf="isLoading" />

        <div *ngIf="!isLoading" class="d-grid align-center mb-10">
            <div class="category-buttons d-flex gap-10">
                <button *ngFor="let cat of categories" (click)="onCategoryChange(cat.value)"
                    [class.active]="category === cat.value" class="category-button fs-12">
                    {{ cat.label }}
                </button>
            </div>

            <div class="platform-filter-wrapper">
                <app-platform-filter [platforms]="platforms" [selected]="selectedPlatform"
                    (platformChange)="onPlatformChange($event)">
                </app-platform-filter>
            </div>
        </div>

        <div *ngIf="!isLoading && !games.length && message" class="no-games-container">
            <div class="user-message fs-14">
                {{ message }}
            </div>
        </div>

        <div class="container-overflow" *ngIf="!isLoading && games.length">
            <div class="game-grid">
                <div class="game-card" *ngFor="let game of games" (click)="onCardClick(game.id)">
                    <div class="cover-container">
                        <img [src]="getCoverImage(game)" [alt]="game.title" class="game-cover" />

                        <div class="release-date-always-visible text-center fs-12">
                            Lançamento: {{ game.releaseDate | date: 'dd/MM/yyyy' }}
                        </div>

                        <div class="overlay">
                            <div class="title fs-14 bold">{{ game.title }}</div>
                            <div class="platform fs-12">{{ game.platform }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>