@use 'colors' as *;
@use 'breakpoints' as *;

.all-releases-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 40px;

    .category-buttons {
        .category-button {
            background-color: $dark-gray;
            border: 1px solid $steam-gray;
            padding: 6px 12px;
            border-radius: 8px;
            color: $steam-gray;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &.active {
                background-color: $rare-deep-blue;
                color: $pure-white;
            }

            &:hover {
                background-color: $charcoal;
            }
        }
    }

    .user-message {
        color: $steam-gray;
    }

    .release-date-always-visible {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $void-black;
        color: $pure-white;
        padding: 6px 8px;
        z-index: 2;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
    }

    .d-grid {
        .category-buttons {
            grid-column: 2;
            justify-self: center;
        }

        .platform-filter-wrapper {
            grid-column: 3;
            justify-self: end;
        }
    }
}

@mixin all-releases-responsive {
    .all-releases-wrapper {
        margin: 0 auto;

        .d-grid {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;
            margin-top: 20px;

            .category-buttons {
                order: 1;
            }

            .platform-filter-wrapper {
                order: 2;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .container-overflow {
        margin-left: 0;

        .game-grid {
            padding: 0;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        }
    }
}

@include respond(mobile) {
    @include all-releases-responsive;
}

@include respond(laptop) {
    @include all-releases-responsive;
}