@use 'colors' as *;
@use 'breakpoints' as *;

.global-loading-wrapper {
  width: 90vw;
}

.container-wrapper {
  .filter-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
  }

  .release-item,
  .carousel-empty-message {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $steam-gray;
    font-size: 0.95rem;
  }

  .release-item {
    position: relative;
    width: 250px;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;

    .game-cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &:hover {
      transform: scale(1.05);
    }

    .game-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0.5rem;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 20%, rgba(0, 0, 0, 0) 100%);
      color: $pure-white;
      font-family: 'Roboto', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      z-index: 2;
    }

    .game-title {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 4px;
      text-shadow: 0 0 4px $overlay-bg;
    }

    .game-extra {
      font-size: 0.9rem;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: $neutral-gray;
    }
  }
}

@include respond(mobile) {
  .container-wrapper {
    .filter-wrapper {
      margin: 10px;
    }

    .release-item,
    .carousel-empty-message {
      width: 180px;
      height: 260px;

      .game-title {
        font-size: 0.85rem;
      }

      .game-extra {
        font-size: 0.7rem;
      }
    }
  }
}