@use 'colors' as *;
@use 'breakpoints' as *;

.global-loading-wrapper {
  width: 90vw;
}

.container-wrapper {
  .filter-wrapper {
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
  }

  .carousel-empty-message {
    height: 320px;
    color: $steam-gray;
  }
}

@include respond(mobile) {
  .container-wrapper {
    .release-item,
    .carousel-empty-message {
      width: 180px;
      height: 260px;

      .game-title {
        font-size: 0.85rem;
      }

      .game-extra {
        font-size: 0.7rem;
      }
    }
  }
}