@use 'breakpoints' as *;

.search {
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;


  .search-input {
    flex: 1;
    width: 10px;
  }

  .filter-button {
    width: 100px;
    flex-shrink: 0;
  }
}