@use 'breakpoints' as *;

.search {
  .search-input {
    flex: 1;
    min-width: 200px;
  }

  .filter-button {
    width: 100px;
    flex-shrink: 0;
  }

  @include respond(mobile) {
    gap: 0.75rem;
    margin-top: 2rem;
    padding: 0 1rem;

    .search-input,
    .filter-button {
      width: 100%;
    }
  }
}