<div *ngIf="!isLoading" class="tier-background">
  <div class="game-management-wrapper">
    <div class="tier-list-container d-flex space-between center mb-20">
      <h2 class="tier-title fs-24">Suas Tier Lists</h2>
      <app-create-button label="Criar nova tier" [icon]="'plus'" className="back-btn" (click)="goToCreateTier()" />
    </div>

    <div class="tier-cards-wrapper">
      <div *ngIf="tierLists.length" class="container-tier d-flex gap-10 wrap">
        <div class="tier-card" *ngFor="let tier of tierLists" (click)="goToTier(tier.id)">

          <!-- BOTÕES VERSÃO DESKTOP -->
          <app-remove-button *ngIf="!isMobileView" class="remove-button" tooltip="Excluir tier" [icon]="'trash'"
            (click)="openConfirmDialog(tier.id); $event.stopPropagation()" />

          <fa-icon *ngIf="!isMobileView" [icon]="'pen'" class="edit-button" title="Editar tier"
            (click)="goToEditTier(tier.id); $event.stopPropagation()" />

          <!-- BOTÃO VERSÃO MOBILE -->
          <fa-icon *ngIf="isMobileView" [icon]="'cog'" class="mobile-settings"
            (click)="toggleTierMenu(tier.id); $event.stopPropagation()" />

          <!-- MENU VERSÃO MOBILE -->
          <div *ngIf="isMobileView && activeTierMenuId === tier.id" class="mobile-menu">
            <button class="menu-option" (click)="goToEditTier(tier.id); $event.stopPropagation()">Editar</button>
            <button class="menu-option" (click)="openConfirmDialog(tier.id); $event.stopPropagation()">Excluir</button>
          </div>

          <!-- IMAGEM E INFOS -->
          <div class="tier-image text-center" [style.backgroundImage]="'url(' + getImageUrl(tier.imageUrl) + ')'">
            <div class="tier-info-overlay">
              <h3 class="tier-name fs-18">{{ tier.title }}</h3>
              <p class="tier-sub fs-12">Clique para ver o ranking</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CASO NÃO TENHA TIERS -->
    <div *ngIf="!tierLists.length" class="no-tiers mt-20">
      <p class="info-text">Você ainda não criou nenhuma tier list.</p>
    </div>
  </div>
</div>

<app-confirm-dialog *ngIf="confirmTierId" [message]="'Tem certeza que deseja excluir esta tier list?'"
  [confirmText]="'Excluir'" [cancelText]="'Cancelar'" [iconConfirm]="['fas', 'trash']" [iconCancel]="['fas', 'times']"
  (confirmed)="onDeleteConfirmed()" (cancelled)="onDeleteCancelled()" />