@use 'colors' as *;
@use 'breakpoints' as *;

.game-management-wrapper {
  margin-top: 0;
  padding: 2rem;

  .tier-cards-wrapper {
    min-height: 82vh;

    &.empty {
      min-height: 8vh;
    }

    .tier-title {
      color: $pure-white;
      margin: 0;
    }

    .container-tier {
      padding: 0.8rem;
      border-radius: 1rem;
      backdrop-filter: blur(8px);
      background: linear-gradient(135deg, #1e1e1e2f, $black-overlay-light);


      .tier-card {
        width: 400px;
        height: 250px;
        background-color: $void-black;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px $pure-white;

          ::ng-deep .remove-button,
          ::ng-deep .edit-button {
            opacity: 1 !important;
            pointer-events: auto !important;
          }
        }

        .tier-image {
          width: 100%;
          height: 100%;

          background: {
            size: contain;
            position: center;
            repeat: no-repeat;
          }

          position: relative;

          .tier-info-overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: $overlay-bg;

            .tier-sub {
              color: $neutral-gray;
              margin-top: 4px;
            }
          }
        }

        .remove-button,
        .edit-button {
          position: absolute;
          z-index: 2;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.2s ease-in-out;
        }

        .remove-button {
          top: 10px;
          right: 10px;
          z-index: 10;
          background-color: transparent;
        }

        .edit-button {
          top: 10px;
          left: 10px;
          color: $pure-white;
          font-size: 1.2rem;
          background-color: $overlay-bg;
          border-radius: 50%;
          padding: 8px;
          cursor: pointer;

          &:hover {
            background: $steam-gray;
          }
        }

        .mobile-settings,
        .mobile-menu {
          display: none;
        }
      }
    }
  }

  @include respond(mobile) {
    .tier-list-container {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    .no-tiers {
      .info-text {
        text-align: center;
      }
    }

    .container-tier {
      width: 100%;

      .tier-card {
        width: 100% !important;
        position: relative;

        .remove-button,
        .edit-button {
          display: none !important;
        }

        .mobile-settings {
          display: block !important;
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 10;
          font-size: 1.3rem;
          color: $pure-white;
          background: $overlay-bg;
          border-radius: 50%;
          padding: 6px;
          cursor: pointer;

          &:hover {
            background: $steam-gray;
          }
        }

        .mobile-menu {
          display: flex !important;
          flex-direction: column;
          position: absolute;
          top: 45px;
          right: 10px;
          z-index: 15;
          background: $overlay-bg;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 0 8px $overlay-bg;

          .menu-option {
            padding: 8px 12px;
            color: $pure-white;
            background: transparent;
            border: none;
            text-align: left;
            cursor: pointer;
            font-size: 14px;

            &:hover {
              background-color: $steam-gray;
            }
          }
        }
      }
    }
  }
}