@use 'colors' as *;

.gamer-loader {
  flex-direction: column;
  margin: 2rem 0;
  font-family: "Press Start 2P", monospace;
  color: $pure-orange;

  .spinner {
    width: 48px;
    height: 48px;
    border: 5px solid $mist-gray;
    border-top: 5px solid $pure-orange;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .loading-text {
    letter-spacing: 1px;
  }

  .dots::after {
    content: "";
    animation: dots 1.5s steps(3, end) infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes dots {
    0% {
      content: "";
    }
    33% {
      content: ".";
    }
    66% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }
}
