@use 'colors' as *;

.input {
  padding: 0.8rem 1rem;
  background: rgba(0, 0, 0, 0.185);
  border: 1px solid $pure-yellow;
  border-radius: 8px;
  color: $pure-white;
  outline: none;
  transition: box-shadow 0.3s ease;

  &::placeholder {
    color: $cloud-gray;
  }

  &:hover,
  &:focus {
    border-color: $rare-deep-blue;
  }
}
