<div *ngIf="isMobile && useMobileModal; else desktopInput" class="mobile-actions d-flex gap-10 mt-10">
  <button class="icon" (click)="openModal()">
    <app-fa-icon icon="search"></app-fa-icon>
  </button>
</div>

<ng-template #desktopInput>
  <div class="form-wrapper d-flex">
    <input class="input" [type]="computedInputType" [placeholder]="placeholder" [(ngModel)]="value"
      [readonly]="isDisabled" (ngModelChange)="onInputChange()" />
  </div>
</ng-template>

<div class="mobile-search-modal d-flex align-center jc-center column" *ngIf="isMobile && isSearchModalOpen">
  <input class="input big" [placeholder]="placeholder" [(ngModel)]="value" />
  <button (click)="confirmMobileSearch()">Buscar</button>
  <button class="close-button" (click)="isSearchModalOpen = false">
    <app-fa-icon icon="times" className="icon-button" title="Filtros"></app-fa-icon>
  </button>
</div>