@import '../../../shareds/colors.scss';

.container-overflow {
  background-color: $light-gray;
  padding: 30px;
  width: 40%;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .container-overflow {
    margin-top: 80px;
  }
}

@media (orientation: portrait) {
  .container-overflow {
    width: 90%;
  }
}
