<ion-content class="ion-padding">
  <div class="container-overflow">
    <app-gamer-loading *ngIf="isLoading"></app-gamer-loading>

    <ng-container *ngIf="!isLoading">
      <app-game-news-featured *ngIf="firstNews" [news]="firstNews"></app-game-news-featured>

      <app-platform-filter [platforms]="platforms" [selected]="selectedPlatform"
        (platformChange)="loadGameNews($event)">
      </app-platform-filter>

      <app-game-news-list *ngIf="slicedNews.length > 0" [news]="slicedNews"></app-game-news-list>
    </ng-container>
  </div>
</ion-content>