  @use 'colors' as *;
  @use 'breakpoints' as *;

  .icon {
      all: unset;
      background: linear-gradient(145deg, #2b0038, #450066);
      border: 2px solid #8e2eff;
      border-radius: 10px;
      padding: 8px;
      box-shadow: 0 0 6px #8e2eff77;
      cursor: pointer;
      transition: all 0.2s ease;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
          background: linear-gradient(145deg, #3c0057, #6100aa);
          box-shadow: 0 0 10px #a74bffcc;
          transform: scale(1.05);
      }

      &:active {
          transform: scale(0.95);
      }
  }

  .times-icon-button {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0;
      margin: 0;
      border: none;
      border-radius: 50%;

      font-size: 12px;
      font-weight: bold;
      background-color: $overlay-bg;
      color: $pure-white;

      cursor: pointer;
      opacity: 0;
      transition: opacity 0.2s ease;
      z-index: 3;

      app-fa-icon,
      fa-icon {
          font-size: 12px;
          line-height: 1;
          display: block;
      }
  }

  @include respond(mobile) {
      .icon {
          margin: 0.5rem;
      }

      .times-icon-button {
          opacity: 1;
      }
  }