$transition-speed: 0.3s;

.center {
  align-items: center;
}

.end {
  align-items: end;
}

.flex-start {
  align-items: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 60px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.space-between {
  justify-content: space-between;
}
