@use 'colors' as *;
@use 'breakpoints' as *;

.game-icon {
  flex-shrink: 0;
  width: 110px;
  height: 160px;
  position: relative;
  cursor: grab;
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
  }

  &:hover {
    transform: scale(1.05);
    z-index: 2;

    .times-icon-button {
      opacity: 1;
    }
  }
}

.empty-dropzone {
  min-height: 160px;
}

.empty-dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  color: $pure-white;
  opacity: 0.6;
  height: 100%;
  grid-column: 1 / -1;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}