@use 'colors' as *;
@use 'layouts' as *;
@use 'typography' as *;
@use 'forms' as *;
@use 'auth' as *;
@use 'scrollbar' as *;
@use 'table' as *;
@use 'components' as *;
@use 'game-card' as *;
@use 'game-grid' as *;
@use 'icon' as *;
@use 'modal' as *;

@use 'breakpoints' as *;

html,
body,
app-root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #7f00ff transparent;
}

.container-wrapper,
.game-management-wrapper {
  position: relative;
  margin: 20px auto 0;
  max-width: 1720px;
  background: linear-gradient(135deg, #1e1e1e91, $black-overlay-light);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
}

.container-wrapper {
  max-width: 1200px;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.content {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;

  background: linear-gradient(135deg, #1e103e 0%, #2a1453 100%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  transition: margin-left 0.3s ease, filter 0.3s ease;

  &.menu-expanded {
    margin-left: 250px;
  }

  &.menu-collapsed {
    margin-left: 70px;
  }

  &.menu-pushed {
    margin-left: 0;
    filter: blur(2px);
    pointer-events: none;
  }

  @include respond(mobile) {
    margin-left: 0 !important;
    padding: 16px;

    &.menu-pushed {
      filter: blur(2px);
    }
  }
}

.container-overflow {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif;
  color: $pure-white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
}

@media (orientation: portrait),
(max-width: 1920px),
(max-width: 600px) {

  html,
  body,
  app-root {
    overflow-y: auto;
  }

  .container-global {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $void-black;
  }

  .content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0;
  }
}

@include respond(mobile) {

  .container-wrapper,
  .game-management-wrapper {
    border-radius: 0;
    margin: 4px;
  }
}