<div class="d-flex align-center jc-end">
  <app-navigate-button
    label="Voltar"
    icon="fas fa-arrow-left"
    className="back-btn"
    (click)="goBack()"
  />
</div>

<div class="form-wrapper">
  <div class="tier-header">
    <fa-icon [icon]="['fas', 'layer-group']" class="tier-icon" />
    <h2 class="tier-main-title">Criação da Tier List</h2>
    <p class="tier-subtitle">Defina um nome e selecione uma imagem que represente sua nova Tier.</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="create-tier-form">
    <div class="form-group">
      <app-input
        formControlName="title"
        [label]="'Título'"
        [placeholder]="'Ex: Meus favoritos da franquia Zelda'"
      ></app-input>
    </div>

    <div class="form-group">
      <label class="upload-label">Selecione uma imagem</label>

      <label class="upload-dropzone" [class.has-preview]="previewUrl">
        <input
          type="file"
          class="upload-input"
          (change)="onFileSelected($event)"
          accept="image/png, image/jpeg, image/webp"
          hidden
        />

        <img *ngIf="previewUrl" [src]="previewUrl" class="upload-preview-img" />

        <ng-container *ngIf="!previewUrl">
          <fa-icon [icon]="['fas', 'image']" class="upload-icon"></fa-icon>
          <p class="upload-text">Clique para escolher uma imagem</p>
        </ng-container>
      </label>

      <div *ngIf="uploading" class="uploading-text">
        <fa-icon [icon]="['fas', 'spinner']" class="fa-spin" /> Enviando imagem...
      </div>
    </div>

    <app-submit-button
      [label]="isEditMode ? 'Atualizar Tier' : 'Criar Tier'"
      [disabled]="form.invalid || uploading || !imageId"
      [routeAfterSubmit]="getRedirectRoute()"
    ></app-submit-button>
  </form>
</div>
