<ion-content class="add-game-tier-list-container" fullscreen>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <app-navigate-button [icon]="'arrow-left'" (click)="goBack()"></app-navigate-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-game-carousel [connectedDropLists]="dropListIds" (gameClicked)="onGameClicked($event)">
          </app-game-carousel>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="container-overflow scroll">

            <div class="tier-list-header">
              <h1 class="fs-24">{{ tierTitle }}</h1>
            </div>

            <div class="tier-row d-flex tier-{{ tier.label.toLowerCase() }}" *ngFor="let tier of tiers">
              <div class="tier-label d-flex center jc-center fs-18 bold">
                {{ tier.label }}
              </div>

              <div class="tier-dropzone d-flex wrap gap-5" cdkDropList [id]="'tier-drop-' + tier.level"
                [cdkDropListData]="tierGames[tier.level]" [cdkDropListConnectedTo]="dropListIds"
                cdkDropListSortingDisabled="true" (cdkDropListDropped)="onDrop($event, tier.level)">
                <div *ngFor="let game of tierGames[tier.level]" class="game-icon" cdkDrag [cdkDragData]="game">
                  <img [src]="getFullCoverUrl(game.coverImage)" [alt]="game.title" />

                  <button class="remove-button" (click)="removeGame(game)">
                    <fa-icon [icon]="icon"></fa-icon>
                  </button>

                  <ng-template cdkDragPlaceholder>
                    <div class="game-icon placeholder-preview">
                      <img [src]="getFullCoverUrl(game.coverImage)" [alt]="game.title" />
                    </div>
                  </ng-template>
                </div>
                <div *ngIf="tierGames[tier.level]?.length === 0" class="empty-dropzone d-flex center">
                  <span>Arraste jogos para aqui</span>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-assign-tier *ngIf="showAssignTierModal && selectedGame" [game]="selectedGame" [availableTiers]="availableTiers"
  [currentTier]="selectedGameTier" (tierSelected)="onTierSelected($event)" (closed)="showAssignTierModal = false" />