<header class="main-header" *ngIf="!menuExpanded || !isSmallScreen">
  <div class="header-content-grid">
    <button class="mobile-menu-toggle" (click)="toggleMenu()" *ngIf="isSmallScreen">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="header-title">Game Board</h1>

    <div class="profile-placeholder" *ngIf="isSmallScreen">
      <div class="profile-dropdown">
        <button class="profile-icon" (click)="toggleDropdown()">
          <mat-icon>account_circle</mat-icon>
        </button>

        <ul class="dropdown-menu" *ngIf="isDropdownOpen">
          <ng-container *ngIf="authenticatedUser$ | async as user; else guestOptions">
            <li (click)="navigateToProfile()">Ver perfil</li>
            <li (click)="navigateToSettings()">Configurações</li>
            <li (click)="modalAuth.openLogout()">Sair</li>
          </ng-container>

          <ng-template #guestOptions>
            <li (click)="modalAuth.openLogin()">Entrar</li>
            <li (click)="modalAuth.openRegister()">Registrar</li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</header>

<app-login-modal *ngIf="(modalView$ | async) === 'login'" (loginSuccess)="handleLoginSuccess()"
  (close)="modalAuth.closeModal()" (switchToRegister)="modalAuth.openRegister()" />

<app-register-modal *ngIf="(modalView$ | async) === 'register'" (registerSuccess)="handleRegisterSuccess()"
  (close)="modalAuth.closeModal()" (switchToLogin)="modalAuth.openLogin()" />

<app-confirm-dialog *ngIf="showLogoutModal$ | async" [message]="'Tem certeza que deseja sair?'" [confirmText]="'Sair'"
  [cancelText]="'Cancelar'" [iconConfirm]="['fas', 'sign-out-alt']" [iconCancel]="['fas', 'times']"
  (confirmed)="logout()" (cancelled)="modalAuth.closeLogout()" />